 table 
        {
 
            border-collapse: collapse;
 
            'margin: 0 auto;
 
            text-align: center;
 
        }
 
        table td, table th
 
        {
 
            border: 1px solid #cad9ea;
 
            color: #000;
 
            height: 30px;
 
        }
 
        table thead th
 
        {
 
            background-color: #CCE8EB;
 
            width: 100px;
 
        }
 
        table tr:nth-child(odd)
 
        {
 
            background: #fff;
 
        }
 
        table tr:nth-child(even)
 
        {
 
            background: #F5FAFA;
 
        }
hr{ height:1px;border:none;border-top:1px dashed #0066CC;}
 .top
{
left:10px;
top:0px;
position:relative;
width:100px;
height:100px;
}